body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url(./background_img.avif);
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 28.5% 100%;
    position: relative;
    left: 28.1%;
    top: 120px;
    width: 71.4vw;
    background-color: rgb(247, 251, 255);
}

p {
    padding-left: 40px;
}

 .header {
    font-weight: bold;
 }

 .grey-text {
    margin-top: 70px;
    color: rgb(32, 32, 32);
 }

 form {
    /* display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-rows: 20px 20px;
    grid-template-columns: 150px 200px; */
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 501;
    color: rgb(85, 85, 85);
    background-color: white;
    box-shadow: 0 4px 20px -5px rgb(213, 213, 213);
 }

legend {
    padding: 20px 0px;
    font-size: 19px;
}

 input {
    margin: 2px;
    border: 1px solid #E5E7EB;
 }

 button {
    margin: 15px 40px;
    padding: 12px 40px;
    background-color: #596D48;
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
 }

 .login {
     font-size: 16px;
 }

 #login {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
 }

a {
    color: white;
    text-decoration: none;
}